.capa{
  padding-block: 10vh;
  background-color: #4285F4;
  
}

.capa-layer{
  display: grid;
  gap:1.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  padding-inline:2vw ;
  
}
.capa-span-col{
  background-color: #4285F4;
 padding-top:10px;
  
  font-size: 8vw;
  height: 4vh;
  color:white;
  font-family: 'Source Sans 3', sans-serif;
  height: 12vh;
}

.capa-main{
  line-height: 2.5vw;
  background-color: #57CBFF;
  height: 20vh;
  color:white;
  font-size: 2.5vw; 
  padding: 1rem; 
  
}
@media only screen and (max-width: 600px) {

  .capa{
    padding-block: 1vh;
    background-color: #4285F4;
    
  }

  .capa-layer{
  display: grid;
  gap:1.5rem;
  grid-template-columns: 1fr 1fr ;
  
}
.capa-span-col{
  background-color: #4285F4;
 padding-top:10px;
  font-size: 8vw;
  height: 4vh;
  color:white;
  font-family: 'Source Sans 3', sans-serif;
}

.capa-main{
  line-height: 6vw;
  background-color: #57CBFF;
  height: 12vh;
  color:white;
  font-size: 4vw; 
  padding: 0.5rem; 
  font-weight: 600;
  font-family: 'Source Sans 3', sans-serif;
}



}