.layer2 {
  padding-block: 8vh;
  background-color: #434343;
  
  }

  .tech-layer{
    display: grid;
    grid-template-columns:  0.2fr 1fr  0.2fr 1fr 0.2fr 1fr;
    padding-inline:2vw ;
  }

  .tech-main{
    line-height: 1.5vw;
    width: 80%;
    padding: 2rem;
    height: 60%;
    color:white;
    font-family: 'Roboto', sans-serif;
    
  }

  .tech-span-col{
    grid-column: span 2;
    text-align: center;
    font-weight: 500;
    font-size: 6vw;
    color: #696969 ;
    font-family: 'Roboto', sans-serif;
    background-color: #434343;
  }
  .trend-back{
    justify-content: right;
    width: 80%;
    height:  10vh;;
    display: flex;
    padding: 2rem;
    
  }

  .in-a{
    color: white;
    font-weight: 400;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
  }
  .in-a2{
    color: white;
    font-weight: 400;
    font-size: 2.5vw; 
    font-family: 'Roboto', sans-serif;
    line-height: 2.5vw;
  }
  .shadow{
    color: #8f8f8f ;
  }

  .tech-layer2{
    display: grid;
    gap:1.5rem;
    grid-template-columns:  1fr 1fr 1fr  ;
   padding-top: 6rem;
    padding-inline:2vw ;
    
  }
  .tech-span-col2{
    grid-column-end: 4;
    grid-row: 1;
    font-weight: 500;
    font-size: 6vw;
    color: #696969 ;
    font-family: 'Roboto', sans-serif;
    background-color: #434343;
  }
  .tech-main2{
    background-color: #b5b5b5 ;
    line-height: 2.5vw;
    height: 20vh;
    gap: 2rem;
    padding: 1rem; 
    color:white;
    font-family: 'Roboto', sans-serif;
    
  }

  @media only screen and (max-width: 600px) {

    .layer2 {
      padding-block: 6vh;
      background-color: #434343;
      
      }
      .tech-layer{
        display: grid;
        gap: 1rem;
        grid-template-columns:  1fr ;
        padding-inline:4vw ;
      }

      .tech-main{
        line-height: 1.5vw;
        width: 100%;
        color:white;
        font-family: 'Source Sans 3', sans-serif;
        padding: 0;
      }
      .in-a{
        color: white;
        font-weight: 600;
        font-size: 4vw; 
        line-height: 6vw;
        font-family: 'Roboto', sans-serif;
      }
      .trend-back{
        justify-content: right;
        height:  10vh;;
        display: flex;
        width: 20vw;
        padding: 0;
      }
      .tech-layer2{
        display: grid;
        gap:1rem;
        grid-template-columns:  1fr  ;
        padding-top: 6vh;
        padding-inline:4vw ;
        text-align: left;
       
      }
      .tech-main2{
        background-color: #b5b5b5 ;
        line-height: 2.5vw;
        height: 20vh;
        gap: 2rem;
        padding: 0.5rem; 
        color:white;
        font-family: 'Roboto', sans-serif;
        
      }

      .tech-span-col{
        grid-column: span 2;
        text-align: center;
        font-size: 14vw;
        height: 4vh;
        color: #696969 ;
        font-family: 'Roboto', sans-serif;
        background-color: #434343;
      }

   
      .tech-span-col2{
        text-align: center;
        grid-column-end: 2;
        padding-block:2vh ;
        font-weight: 500;
        font-size: 14vw;
        color: #696969 ;
        font-family: 'Roboto', sans-serif;
        background-color: #434343;
      }

      .tech-main2{
        background-color: #b5b5b5 ;
        line-height: 6vw;
        height: 12vh;
        gap: 2rem;
       padding:2vh ;
        vertical-align: middle;
        color:white;
        font-family: 'Roboto', sans-serif;
        
      }
      .in-a2{
        line-height: 6vw;
        color: white;
        font-size: 4.5vw; 
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
      }
  }