.layer5{
  padding-block: 8vh;
  padding-inline: 4rem;
  background-color: #F2EFE0;
  
  }

  .crypto-layer{
    display: grid;
    padding-block: 2rem;
    grid-template-columns:   1fr 1fr 1fr 1fr ;
   gap:2rem;
    
  }

  .crypto-main{
    height: 20vh;
    line-height: 2vw;
    padding:1rem ;
    background-color:#FFD527;
    color:#FBBC04;
    font-family: 'Source Sans 3', sans-serif;
  }

  .crypto-span-col{

 grid-column: 1;   
    text-align: left;
    font-weight: 500;
    font-size: 6vw;
    color:#FBBC04;
    font-family: 'Source Sans 3', sans-serif;
    
  }

  .crypto-a{
    
    font-weight: 500;
    font-size:1.8vw; 
    font-family: 'Open Sans', sans-serif;
    line-height: 2.5vw;
    color:white;
  }
