.layer5{
  padding-block: 8vh;
  padding-inline: 4rem;
  background-color: #434343;
  
  }

  .crypto-layer{
    display: grid;
    padding-block: 2rem;
    grid-template-columns:   1fr 1fr  ;
   gap:2rem;
    
  }

  .crypto-main{
   
    line-height: 2vw;
    
    padding-block:2rem ;
    
    color:#FBBC04;
    font-family: 'Source Sans 3', sans-serif;
  }

  .crypto-span-col{

 grid-column: 1;   
    text-align: left;
    font-weight: 500;
    font-size: 6vw;
    color: #696969;
    font-family: 'Source Sans 3', sans-serif;
    
  }

  .crypto-a{
    color: white ;
    font-weight: 500;
    font-size: 2vw; 
    font-family: 'Open Sans', sans-serif;
    line-height: 2.5vw;
    color:white;
  }
