.layer4 {
  padding-block: 8vh;
  background-color: #434343;
  
  }

  
  .tech-layer{
    display: grid;
    
    grid-template-columns:  0.2fr 1fr  0.2fr 1fr 0.2fr 1fr ;
   
    padding-inline:4vw ;
  }

  .crypto-main{
    line-height: 2.5vw;
    height: 20vh;
    color:white;
    font-size: 2.5vw; 
    padding: 1rem; 
    font-family: 'Roboto', sans-serif;
    
  }
  .crypto-a{
    line-height: 2.5vw;
  
    color:white;
    font-size: 2.5vw; 
  }

  .crypto-span-col{
    
    text-align: center;
    font-weight: 500;
    font-size: 6vw;
    font-family: 'Roboto', sans-serif;
    
  }
