.tech {
  padding-block: 8vh;
  background-color: #434343;
  
  }

  .tech-layer{
    display: grid;
    
    grid-template-columns:  0.2fr 1fr  0.2fr 1fr 0.2fr 1fr;
   
    padding-inline:2vw ;
  }

  .tech-main{
    line-height: 1.5vw;
    width: 80%;
    padding: 2rem;
    height: 60%;
    color:white;
    font-family: 'Source Sans 3', sans-serif;
    
  }

  .tech-span-col{
    grid-column: span 2;
    text-align: center;
    font-weight: 500;
    font-size: 6vw;
    color: #696969 ;
    font-family: 'Source Sans 3', sans-serif;
    background-color: #434343;
  }
  .trend-back{
    justify-content: right;
    width: 80%;
    height:  10vh;;
    display: flex;
    padding: 2rem;
    
  }

  .in-a{
    color: white;
    font-weight: 400;
    font-size: 1.2vw;
    font-family: 'Open Sans', sans-serif;
  }
  .in-a2{
    color: white;
    font-weight: 400;
    font-size: 2vw; 
    font-family: 'Open Sans', sans-serif;
  }
  .shadow{
    color: #8f8f8f ;
  }

  .tech-layer2{
    display: grid;
    gap:1.5rem;
    grid-template-columns:  1fr 1fr 1fr  ;
   padding-top: 6rem;
    padding-inline:2vw ;
  }
  .tech-span-col2{
    grid-column-end: 4;
    grid-row: 1;
    font-weight: 500;
    font-size: 6vw;
    color: #696969 ;
    font-family: 'Source Sans 3', sans-serif;
    background-color: #434343;
  }
  .tech-main2{
    background-color: #b5b5b5 ;
    line-height: 2.5vw;
    height: 20vh;
    gap: 2rem;
    padding: 1rem; 
    color:white;
    font-family: 'Source Sans 3', sans-serif;
    
  }